*.swp
*.swo
latest.err
latest.out
data/*
#!data/labels.txt
#!data/train.txt
#!data/test.txt
#!data/dev.txt
germeval-model/
logs/*
s800/*
s800Data/*
models/*
venv_transformers_/*
runs/*
jupyter.*
latest.err
latest.out
