*.ipynb
!jupyter-for-debugging.ipynb
asennuskomennot.txt
__pycache__/
scripts/
*.swp
*.swo
latest.err
latest.out
data/*
germeval-model/
logs/*
models/*
venv_transformers_ner/*
runs/*
jupyter.*
latest.err
latest.out
